<div>
  <div class="">
    list of databases
  </div>
  <div class="">
      {{ list_bds }}
  </div>
  <div class="">
      <form class="" action="" method="post">
        <label for="add_database">add database +</label>
        <input type="text" name="database" value="">
        <input type="submit" name="" value="">
      </form>
  </div>
</div>


<script src="public/js/restapi.js" charset="utf-8"></script>
<script src="public/js/userapi.js" charset="utf-8"></script>
<script src="public/js/taskapi.js" charset="utf-8"></script>
